:root {
    --primary: #C22E38;
    --secondary: #654334;
    --alternate: #5A3321;
    --gray: #F5F4F3;
    --coffe-light: #F5ECD6;
    --primary-gradient: linear-gradient(90deg, #FF0F0F 0%, #C22E38 100%);
    --dark: #454545;
    --white: #ffffff;
    --black: #000000;
    --light: #C4C4C4;
}


@font-face {
    font-family: 'Archer';
    src: url('../fonts/Archer-Bold.eot');
    src: url('../fonts/Archer-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Archer-Bold.woff2') format('woff2'),
        url('../fonts/Archer-Bold.woff') format('woff'),
        url('../fonts/Archer-Bold.ttf') format('truetype'),
        url('../fonts/Archer-Bold.svg#Archer-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akkurat Cointreau';
    src: url('../fonts/AkkuratCointreau-Regular.eot');
    src: url('../fonts/AkkuratCointreau-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AkkuratCointreau-Regular.woff2') format('woff2'),
        url('../fonts/AkkuratCointreau-Regular.woff') format('woff'),
        url('../fonts/AkkuratCointreau-Regular.ttf') format('truetype'),
        url('../fonts/AkkuratCointreau-Regular.svg#AkkuratCointreau-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akkurat Cointreau';
    src: url('../fonts/AkkuratCointreau-Bold.eot');
    src: url('../fonts/AkkuratCointreau-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AkkuratCointreau-Bold.woff2') format('woff2'),
        url('../fonts/AkkuratCointreau-Bold.woff') format('woff'),
        url('../fonts/AkkuratCointreau-Bold.ttf') format('truetype'),
        url('../fonts/AkkuratCointreau-Bold.svg#AkkuratCointreau-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('../fonts/GothamNarrow-Medium.eot');
    src: url('../fonts/GothamNarrow-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-Medium.woff2') format('woff2'),
        url('../fonts/GothamNarrow-Medium.woff') format('woff'),
        url('../fonts/GothamNarrow-Medium.ttf') format('truetype'),
        url('../fonts/GothamNarrow-Medium.svg#GothamNarrow-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Narrow Book';
    src: url('../fonts/GothamNarrow-Book.eot');
    src: url('../fonts/GothamNarrow-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamNarrow-Book.woff2') format('woff2'),
        url('../fonts/GothamNarrow-Book.woff') format('woff'),
        url('../fonts/GothamNarrow-Book.ttf') format('truetype'),
        url('../fonts/GothamNarrow-Book.svg#GothamNarrow-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* =Import Required styles
========================================================================================*/
@import url(normalize.css);

/* =Box Sizing 
========================================================================================*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
textarea,
select,
input[type="button"],
input[type="submit"],
button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* =Deafult Tag & General Classes
========================================================================================*/
html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: 16px/1.33 'Gotham Narrow Book', Arial, Helvetica, sans-serif;
    color: var(--dark);
}

img {
    vertical-align: top;
    border: 0;
    max-width: 100%;
    height: auto;
}

a,
input[type="button"],
input[type="submit"],
button,
table th,
table td {
    -webkit-transition: background-color 350ms cubic-bezier(0, .34, .74, .99), color 350ms cubic-bezier(0, .34, .74, .99);
    transition: background-color 350ms cubic-bezier(0, .34, .74, .99), color 350ms cubic-bezier(0, .34, .74, .99);
}

.allanim,
#mainmenu li a:after {
    -webkit-transition: all 350ms cubic-bezier(0, .34, .74, .99);
    transition: all 350ms cubic-bezier(0, .34, .74, .99);
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

@media screen and (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    a:active {
        background-color: transparent;
    }
}

strong {
    font-weight: bold;
}

small,
.small {
    font-size: 85%;
}

sub,
sup {
    font-size: 80%
}

p {
    margin: 0 0 20px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Archer', sans-serif;
    line-height: 1.3;
    margin: 0 0 14px;
    font-weight: bold;
}

h1 {
    font-size: 58px;
    line-height: 1.17;
}

h2 {
    font-size: 54px;
    line-height: 1.11;
}

h3 {
    font-size: 32px;
    line-height: 1.5;
}

h4 {
    font-family: 'Akkurat Cointreau', sans-serif;
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
}

h5 {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 600;
}

h6 {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
}

ul li {
    line-height: 24px;
}

.cf:after,
.wrap:after {
    content: "";
    display: table;
    clear: both;
}

.nodisplay {
    display: none;
}

.nodisplay_strict {
    display: none !important;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

:focus {
    outline: none;
}

.text_cont p {
    padding: 0 0 10px 0;
}

.nopad p,
p.nopad {
    padding: 0;
}

.cols {
    margin: 0 -20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cols .col {
    padding: 0 20px;
}

.cols1 .col {
    width: 100%
}

.cols2 .col {
    width: 50%
}

.cols3 .col {
    width: 33.333333333333%;
}

.cols4 .col {
    width: 25%;
}

/* =Blockquote & highlight
========================================================================================*/
blockquote {
    border-left: solid 6px #e1e1e1;
    margin-left: 0;
    padding-left: 15px;
}

blockquote small {
    font-size: 85%;
    display: block;
    color: #999;
    padding: 5px 0 0 0;
    font-style: italic;
}

.highlight,
mark {
    background: #fffd64;
}

/* =Text Size, color & Custom list style
========================================================================================*/
.text-bigger {
    font-size: 22px;
}

.text-big {
    font-size: 20px;
}

.text-small {
    font-size: 12px;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: #7979a9;
}

.bg-muted {
    background: #777;
}

.bg-primary {
    background: #e34f26;
}

.bg-secondary {
    background: #7979a9;
}

.text-lc {
    text-transform: lowercase;
}

.text-uc {
    text-transform: uppercase;
}

.has-show {
    display: block !important;
}

.has-hide {
    display: none !important;
}

.has-error {
    padding: 4px 12px 0;
    display: block;
    color: #ff0000;
    font-size: 14px;
}

input.has-error {
    border: solid 1px #ff0000 !important;
}

.tall-space {
    margin: 45px 0;
}

.medium-space {
    margin: 20px 0;
}

.bg-light {
    background-color: var(--light-gray);
}

.custom-arrow-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.custom-arrow-list li {
    position: relative;
    padding-left: 20px;
}

.custom-arrow-list li:before {
    content: '';
    border: solid 2px #bbb;
    border-left: 0;
    border-top: 0;
    position: absolute;
    left: 1px;
    top: 9px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 7px;
    height: 7px;
}

/* =Divider Width
========================================================================================*/
hr {
    border: 0;
    border-bottom: solid 1px #e1e1e1;
    margin: 20px 0;
    position: relative;
    width: 100%;
}

hr:before {
    background: #888;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    position: absolute;
    width: 40px;
}

.dashed-border {
    border-bottom-style: dashed
}

.dotted-border {
    border-bottom-style: dotted;
}

.double-border {
    border-bottom-style: double;
    border-bottom-width: 3px;
}

.double-border:before {
    height: 3px;
}

/* =Drop Caps
========================================================================================*/
p.drop-caps:first-child:first-letter {
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding: 4px;
    margin: 5px 5px 0 0;
}

p.drop-caps.secundary:first-child:first-letter {
    background-color: var(--primary);
    color: #fff;
    padding: 6px;
    margin-right: 11px;
    border-radius: 4px;
}

/* =Image Caps
========================================================================================*/
.image-block {
    padding: 25px 0;
}

.image-block:after {
    display: table;
    clear: both;
    content: '';
}

.image-block figure {
    width: 33.33333%;
    float: left;
    position: relative;
    border: solid 1px #e5e5e5;
    padding: 5px;
    background: #fff;
    margin: 0 20px 10px 0;
}

.image-block figure img {
    width: 100%;
    height: auto;
}

.image-block.right-align figure {
    float: right;
    margin: 0 0 10px 20px;
}

.image-block figcaption {
    display: block;
    font-weight: 700;
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.40);
    padding: 13px 10px;
    color: #fff;
    text-align: center;
    line-height: 1.25;
}

.image-block h3 {
    margin-bottom: 20px;
}

figure {
    margin: 0;
}

/* =Section Caps
========================================================================================*/
.section-block {
    padding: 25px 0;
    background: #fff;
}

/* =Layout Width
========================================================================================*/
#wrapper {}

.wrap {
    max-width: 1504px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

#main {
    padding: 0;
}

#primary {
    float: left;
    width: 700px;
}

#sidebar {
    float: right;
    width: 200px;
}

.one-column {
    width: auto !important;
    float: none !important;
}

::selection {
    color: var(--white) !important;
    background: var(--primary) !important;
}

/* =Common-Page (common classes for all pages)
========================================================================================*/
#header {
    position: sticky;
    top: 0;
    filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, .1));
    -webkit-filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, .1));
    z-index: 11;
}

#header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    z-index: -1;
}

#header.sticky {
    filter: drop-shadow(1px 10px 4px rgba(0, 0, 0, .1));
    z-index: 11;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 43px 0;
    transition: all 250ms;
}

#header.sticky .header-row {
    padding: 25px 0;
}

#header.sticky #logo {
    width: 150px;
    height: 150px;
}

#logo {
    width: 187px;
    text-align: center;
    height: 187px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    transition: all 250ms;
    border-radius: 50%;
    z-index: 1;
}

#logo img {
    height: auto;
    width: auto;
    width: 100%;
}

#mainmenu>ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#mainmenu>ul>li {
    margin: 0 20px;
}

#mainmenu>ul>li:first-child {
    margin-left: 0;
}

#mainmenu>ul>li:last-child {
    margin-right: 0;
}

#mainmenu>ul>li>a {
    font-family: 'Gotham Narrow', sans-serif;
    text-decoration: none;
    display: block;
    color: var(--dark);
    position: relative;
    transition: all .5s ease;
}

#mainmenu li.active a,
#mainmenu li a:hover {
    color: var(--primary);
}

#mainmenu {
    font-size: 18px;
    width: calc(50% - 115px);
    margin: 0 auto 0 0;
}

.login-options {
    width: calc(50% - 115px);
    display: flex;
    align-items: center;
    justify-content: end;
}

.login-options i {
    display: none;
}

.login-options .button.btn-outline {
    margin-left: 30px;
    padding: 9px 29px;
}

/* Header Sticky Style */

#footer {
    font-size: 18px;
    color: var(--white);
}

.ftr-logo a {
    width: 98px;
    display: block;
}

.ftr-logo a img {
    height: auto;
    width: auto;
    width: 100%;
}

.top-footer,
.bottom-footer-section {
    background-color: var(--primary);
}

.footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0 43px;
}

.ftr-login {
    display: flex;
    align-items: center;
}

.ftr-brands {
    display: flex;
    align-items: center;
}

.ftr-brands h4 {
    margin: 0 44px 0 0;
}

.ftr-brands ul,
.connect-with-us ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ftr-brands ul li {
    margin: 0 20px;
}

.ftr-brands ul li:first-child {
    margin-left: 0;
}

.ftr-brands ul li:last-child {
    margin-right: 0;
}

.ftr-brands ul li a {
    color: rgba(255, 255, 255, 0.7);
}

.footer-row ul a:hover,
.footer-row ul li.active a {
    color: var(--coffe-light);
}

.footer-row .ftr-links h4 {
    color: var(--white);
    margin-bottom: 30px;
    font-size: 20px;
    text-transform: uppercase;
}

.ftr-login .button.btn-white {
    padding: 11px 31px;
    background-color: var(--white);
    color: var(--secondary);
}

.ftr-login .button.btn-white:hover {
    background-color: var(--black);
    color: var(--white);
}

.ftr-login .button.btn-outline {
    margin-left: 37px;
    padding: 10px 29px;
    color: var(--white);
    border: 1px solid var(--white);
}

.ftr-login .button.btn-outline:hover {
    color: var(--secondary);
    border: 1px solid var(--white);
    background-color: var(--white);
}

.copyright {
    display: flex;
    align-items: center;
}

.frt-copyright {
    margin-left: 35px;
}

.powered-by {
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
}

.powered-by a {
    display: block;
    width: 98px;
    margin-top: 4px;
}

.powered-by a img {
    display: block;
    margin-left: 5px;
}

.bottom-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 0;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
}

.bottom-footer .copyright p {
    margin: 0;
}

.contact-page .top-footer {
    background-color: var(--coffe-light);
}

.contact-page .top-footer .ftr-brands h4 {
    color: var(--secondary);
}

.contact-page .footer-row ul li a {
    color: var(--secondary);
}

.contact-page .footer-row ul li.active a,
.contact-page .footer-row ul a:hover {
    color: var(--primary);
}

.contact-page .ftr-login .button.btn-white {
    color: var(--white);
    background-color: var(--secondary);
}

.contact-page .ftr-login .button.btn-white:hover {
    background-color: var(--primary);
}

.contact-page .ftr-login .button.btn-outline {
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

.contact-page .ftr-login .button.btn-outline:hover {
    color: var(--white);
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.connect-with-us h4 {
    margin: 0 0 13px;
}

.connect-with-us h4 a {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.connect-with-us h4 a:hover {
    color: var(--coffe-light);
}

.connect-with-us ul li {
    position: relative;
    display: flex;
    align-items: center;
}

.connect-with-us ul li::after {
    content: "";
    background-color: rgba(255, 255, 255, 0.20);
    width: 1px;
    height: 20px;
    margin: 0 22px;
    display: block;
}

.connect-with-us ul li:last-child:after {
    display: none;
}

.connect-with-us ul li a {
    color: var(--white);
}

.connect-with-us ul li a:hover {
    color: var(--coffe-light);
}

.connect-with-us h4 a i {
    margin-left: 12px;
    transition: all 350ms;
}

.connect-with-us h4 a:hover i {
    transform: translate(5px);
}


/* =Home-Page (only homepage used classes)
========================================================================================*/
.sprites {
    background-image: url(../images/bgi/sprites.svg);
}

.sp-after:after {
    background-image: url(../images/bgi/sprites.svg);
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    content: '';
    vertical-align: middle;
}

.sp-before:before {
    background-image: url(../images/bgi/sprites.svg);
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    content: '';
    vertical-align: middle;
}

/* =Form Style
========================================================================================*/
button,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
textarea,
select,
input[type="submit"],
input[type="button"] {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
textarea,
input[type="submit"],
input[type="button"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

button,
input {
    line-height: normal;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
textarea,
select {
    font-family: 'Gotham Narrow Book', sans-serif;
    transition: border-color 200ms ease-in;
    -moz-transition: border-color 200ms ease-in;
    -webkit-transition: border-color 200ms ease-in;
    border: solid 1px var(--gray);
    color: var(--secondary);
    background: var(--gray);
    padding: 4px 12px 4px 50px;
    height: 50px;
    line-height: 1.33;
    width: 100%;
    border-radius: 4px;
    font-size: 18px;
}

input[type="text"].input-lg,
input[type="password"].input-lg,
input[type="email"].input-lg,
input[type="tel"].input-lg,
input[type="search"].input-lg,
input[type="url"].input-lg {
    height: 58px;
}

input[type="text"].input-sm,
input[type="password"].input-sm,
input[type="email"].input-sm,
input[type="tel"].input-sm,
input[type="search"].input-sm,
input[type="url"].input-sm {
    height: 38px;
}

textarea {
    font-family: 'Gotham Narrow Book', Arial, Helvetica, sans-serif;
    width: 100%;
    height: 182px;
    overflow: auto;
    resize: vertical;
    padding: 10px 15px;
    border-radius: 10px;
}

select {
    padding: 12px 42px 12px 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    position: relative;
    z-index: 1;
    background: none;
    line-height: 1.33;
    border-radius: 0;
}

select::-ms-expand {
    display: none;
}

.custom-select {
    display: block;
    margin: 0;
    position: relative;
    background: #fff;
}

.custom-select:after {
    content: '';
    border-top: solid 6px #848690;
    border-right: solid 6px transparent;
    border-left: solid 6px transparent;
    position: absolute;
    right: 18px;
    top: 50%;
    margin-top: -3px;
    pointer-events: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
    border: solid 1px #acacac;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="button"],
input[type="submit"],
button {
    background: var(--primary);
    color: #fff;
    border: 0;
    cursor: pointer;
    width: auto;
    overflow: visible;
    padding: 13px 45px;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.33;
    font-family: 'Gotham Narrow Book', sans-serif;
    border-radius: 50px;
}

input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
    background-color: var(--secondary);
    color: #fff;
}

input[type="checkbox"],
input[type="radio"] {
    margin: 4px 8px 0;
    vertical-align: top;
}

::-webkit-input-placeholder {
    color: rgba(101, 67, 52, 0.3);
    opacity: 1;
}

::-moz-placeholder {
    color: rgba(101, 67, 52, 0.3);
    opacity: 1;
}

:-ms-input-placeholder {
    color: rgba(101, 67, 52, 0.3);
    opacity: 1;
}

:-moz-placeholder {
    color: rgba(101, 67, 52, 0.3);
    opacity: 1;
}

.checkbox,
.radio {
    position: relative;
    float: left;
    margin-right: 20px;
}

.form-block .form-group .checkbox label,
.form-block .form-group .radio label {
    padding: 0;
    padding-left: 38px;
    display: block;
    line-height: 1.1;
    color: var(--dark-gray);
    cursor: pointer;
}

.checkbox input,
.radio input {
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox input:disabled+.input-helper:before,
.radio input:disabled+.input-helper:before {
    opacity: 0.35;
}

.checkbox .input-helper:before,
.radio .input-helper:before,
.checkbox .input-helper:after,
.radio .input-helper:after {
    position: absolute;
    content: "";
    transition: all 200ms;
}

.checkbox .input-helper:before,
.radio .input-helper:before {
    left: 0;
    border: 1px solid var(--primary);
}

.checkbox input {
    width: 22px;
    height: 22px;
    margin: 0;
}

.checkbox input:checked+.input-helper:before {
    background-color: var(--white);
}

.checkbox input:checked+.input-helper:after {
    transform: scale(1);
    opacity: 1;
}

.checkbox .input-helper:before {
    top: 0;
    width: 22px;
    height: 22px;
    border-radius: 4px;
    color: #fff;
    border: 1px solid var(--primary);
}

.checkbox .input-helper:after {
    content: '\2713';
    font-size: 18px;
    left: 2px;
    top: 1px;
    font-weight: 600;
    color: var(--primary);
    opacity: 0;
    transform: scale(0);
}

.checkbox label span {
    position: static;
    transform: translateY(3px);
}

.radio input {
    width: 22px;
    height: 22px;
    margin: 0;
}

.radio input:checked+.input-helper:after {
    transform: scale(1);
}

.radio .input-helper:before {
    top: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.radio .input-helper:after {
    width: 10px;
    height: 10px;
    background: var(--primary);
    border-radius: 50%;
    top: 6px;
    left: 6px;
    transform: scale(0);
}


/* =BreadCrumbs
========================================================================================*/
.breadcrumbs {
    padding: 10px 0;
    background: #efeded;
    border-bottom: solid 1px #dedede;
    font-size: 14px;
    color: #808080;
}

.breadcrumbs ul {
    display: inline;
    margin: 0 0 0 5px;
    padding: 0;
}

.breadcrumbs li {
    display: inline-block;
    margin: 0 0 0 20px;
    position: relative;
}

.breadcrumbs li:before {
    content: '';
    border-left: solid 4px #999;
    border-bottom: solid 4px transparent;
    border-top: solid 4px transparent;
    width: 0;
    height: 0;
    display: inline-block;
    position: absolute;
    left: -14px;
    top: 50%;
    margin-top: -4px;
}

.breadcrumbs li a {
    color: var(--dark);
    text-decoration: none;
}

.breadcrumbs li a:hover {
    color: var(--primary);
}

/* =Form list
========================================================================================*/
.form-block {
    margin: 10px 0;
}

.form-group {
    padding: 18px 0
}

.form-group:after {
    clear: both;
    content: '';
    display: table;
}

.formlist .form-group ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.forgot-link {
    float: right;
}

.form-block .form-group label {
    display: inline-block;
    padding: 0 0 15px;
    color: var(--secondary);
    font-size: 18px;
}

.form-inline .form-group label {
    float: left;
    width: 30%;
    padding: 10px 10px 10px 0;
    line-height: 1.5
}

.form-inline .form-group .field-box {
    width: 70%;
    float: left;
}

/* =Common button CSS
========================================================================================*/
.button {
    font-family: 'Gotham Narrow';
    color: var(--white);
    background-color: var(--primary);
    font-size: 18px;
    display: inline-block;
    line-height: 1.33;
    padding: 11px 32px;
    font-weight: 400;
    text-align: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.button:hover {
    background-color: var(--secondary);
    text-decoration: none;
    color: #fff;
}

.button.btn-lg,
input[type="submit"].btn-lg,
input[type="button"].btn-lg,
button.btn-lg {
    padding: 16px 35px;
    font-size: 18px;
}

.button.btn-sm,
input[type="submit"].btn-sm,
input[type="button"].btn-sm,
button.btn-sm {
    padding: 10px 22px;
    font-size: 14px;
}

.button.btn-xs,
input[type="submit"].btn-xs,
input[type="button"].btn-xs,
button.btn-xs {
    padding: 8px 20px;
    font-size: 12px;
}

.button.btn-lightgray,
input[type="submit"].btn-lightgray,
input[type="button"].btn-lightgray,
button.btn-lightgray {
    background: #969fb0;
    color: #fff;
}

.button.btn-lightgray:hover,
input[type="submit"].btn-lightgray:hover,
input[type="button"].btn-lightgray:hover,
button.btn-lightgray:hover {
    background: #757f90;
}

.button.btn-secondary,
input[type="submit"].btn-secondary,
input[type="button"].btn-secondary,
button.btn-secondary {
    background: var(--dark);
    color: #fff;
}

.button.btn-secondary:hover,
input[type="submit"].btn-secondary:hover,
input[type="button"].btn-secondary:hover,
button.btn-secondary:hover {
    background: var(--alternate);
}

.button.btn-outline,
input[type="submit"].btn-outline,
input[type="button"].btn-outline,
button.btn-outline {
    background: transparent;
    border: solid 2px var(--secondary);
    color: var(--secondary);
}

.button.btn-outline:hover,
input[type="submit"].btn-outline:hover,
input[type="button"].btn-outline:hover,
button.btn-outline:hover {
    background: var(--secondary);
    color: #fff;
}

.button.btn-lg.btn-outline,
input[type="submit"].btn-lg.btn-outline,
input[type="button"].btn-lg.btn-outline {
    padding: 14px 35px;
}

.button.btn-outline,
input[type="submit"].btn-outline,
input[type="button"].btn-outline {
    padding: 11px 30px;
}

.button.btn-sm.btn-outline,
input[type="submit"].btn-sm.btn-outline,
input[type="button"].btn-sm.btn-outline {
    padding: 8px 25px;
}

.button.btn-xs.btn-outline,
input[type="submit"].btn-xs.btn-outline,
input[type="button"].btn-xs.btn-outline {
    padding: 6px 20px;
}

.button.btn-block {
    display: block;
}

.buttonset .button {
    margin: 10px 7px;
    text-align: center;
    width: 160px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.button.white-btn {
    background: var(--white);
    color: var(--dark);
}

.button.white-btn:hover {
    background: var(--primary);
    color: var(--white);
}

/* =Table CSS
========================================================================================*/
table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}

table {
    width: 100%;
    margin-bottom: 30px;
}

table th,
table td {
    padding: 14px 15px;
    line-height: 1.32;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

table th {
    background: #ececec;
    font-weight: 700;
    padding: 17px 15px;
    font-size: 16px;
}

table tr:hover td {
    background: #fbfbfb;
}

table tr.selected td {
    background: #fbfbfb;
}

table thead th {
    vertical-align: middle;
}

table caption+thead tr:first-child th,
table caption+thead tr:first-child td,
table colgroup+thead tr:first-child th,
table colgroup+thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0;
}

/* =tabnav CSS
========================================================================================*/
.tabnav {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    border: solid 1px #e9edee;
    display: flex;
    flex-wrap: wrap;
}

.tabnav li {
    position: relative;
    margin: 0;
    width: 25%;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.tabnav li:first-child {
    margin: 0;
}

.tabnav li h2 {
    margin: 0;
    font-size: 15px;
}

.tabnav li a {
    display: block;
    padding: 16px 5px;
    text-decoration: none;
    color: var(--dark);
    line-height: 1.25;
    background: #e9edee;
    margin-bottom: -1px;
    border-left: solid 1px #dde1e2;
}

.tabnav li:first-child a {
    border-left: 0;
}

.tabnav li.active a,
.tabnav li a:hover {
    background-color: #fff;
    color: var(--primary)
}

.tabnav li.active a:after {
    display: block;
}

.tab-container {
    padding: 20px;
    border: solid 1px #e9edee;
    border-top: 0;
}

.tabcontent .quicklist li,
.tabcontent .quicklist {
    margin: 0;
}

.tabcontent {
    display: none;
}

.tabcontent p {
    color: #666;
    margin: 20px 0 0;
}

.tabcontent p:first-child {
    margin-top: 0;
}

.tabcontent p a,
.accordion-data p a {
    color: #7f97ae;
    text-decoration: underline;
}

.tabcontent p a:hover,
.accordion-data p a:hover {
    color: #00305d
}

.tabcontent h4 {
    margin: 0 0 15px;
}

/* =Accordian CSS
========================================================================================*/
.accordion-databox .accordion-row {}

.accordion-databox .accordion-row:first-child {
    border-top: 0;
}

.accordion-databox .accordion-row h5 {
    cursor: pointer;
    margin: 0;
    background: transparent;
    border-top: 1px solid var(--gray);
    color: var(--dark);
    position: relative;
    padding: 16px 54px 16px 0;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 0;
    line-height: 1;
}

.accordion-databox .accordion-row h5:before {
    content: '';
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    z-index: 2;
    width: 2px;
    height: 20px;
    background: var(--dark);
    border-radius: 8px;
    transition: all .5s ease;
}

.accordion-databox .accordion-row h5:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0;
    z-index: 2;
    width: 20px;
    height: 2px;
    background: var(--dark);
    border-radius: 8px;
}

.accordion-databox .accordion-row h5.open {
    color: #272c2f;
}

.accordion-databox .accordion-row h5.open:before {
    border: none;
    transform: translateY(-50%) rotate(90deg);
}

.accordion-data {
    display: none;
    padding: 15px 0;
}

.accordion-data p {
    padding: 0 6px;
    margin: 20px 0 0;
}

.accordion-data p:first-child {
    margin-top: 0;
}

/* =Alertbox CSS
========================================================================================*/
.alert {
    padding: 16px 16px 16px 55px;
    margin: 20px 0;
    color: #454545;
    position: relative;
}

.alert:before {
    position: absolute;
    content: '';
    left: 15px;
    top: 17px;
    width: 24px;
    height: 24px;
    background: url(../images/bgi/sprites.svg) no-repeat 0 0;
}

.alert-notification {
    background-color: #fff0f4;
    border: solid 1px #db524c;
    color: #db524c;
}

.alert-notification:before {
    background-position: 0 0;
}

.alert-info {
    background-color: #e8f6ff;
    border: solid 1px #0082d5;
    color: #0082d5;
}

.alert-info:before {
    background-position: -26px 0;
}

.alert-warning {
    background-color: #fef4ec;
    border: solid 1px #ff9948;
    color: #ff9948;
}

.alert-warning:before {
    background-position: -52px 0;
}

.alert-success {
    background-color: #edfff6;
    border: solid 1px #04be5b;
    color: #04be5b;
}

.alert-success:before {
    background-position: -79px 0;
}

.alert-normal {
    background-color: #efefef;
    border: solid 1px #999;
    padding-left: 16px;
    color: var(--dark);
}

.alert-normal:before {
    display: none;
}

/* =Default page CSS
========================================================================================*/
.heading-listblock {
    padding: 20px 0;
}

.heading-listblock p,
.heading-listblock blockquote {
    margin: 0 0 35px;
}

.heading-listblock p:last-child {
    margin-bottom: 0;
}

.heading-listblock .paragraph-block p {
    margin: 0 0 20px;
}

.list-block ul,
.list-block ol {
    padding-left: 22px;
    margin-left: -5px;
}

.list-block ul li,
.list-block ol li {
    margin: 5px 0;
}

.list-block ul.custom-arrow-list {
    margin: 0;
    padding: 0;
}

.paragraph-block a {
    transition: background-size 250ms cubic-bezier(.15, .3, .2, .9), color 250ms cubic-bezier(.15, .3, .2, .9);
    background-image: linear-gradient(transparent calc(100% - 1px), var(--primary) 1px);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 0% 100%;
}

.paragraph-block a:hover {
    color: var(--primary);
    background-size: 100% 100%;
    background-position: left bottom;
}


.box {
    width: 300px;
    height: 300px;
    margin: 28px auto;
    background: black url(https://ununsplash.imgix.net/photo-1415302199888-384f752645d0?q=75&fm=jpg&s=823bdcc…);
    background-size: cover;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.pt-0 {
    padding-top: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

/* Custom Dropdown */
select {
    display: none;
}

.custom-select:after {
    display: none;
}

.dropdown {
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.0075);
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    height: 54px;
    line-height: 25px;
    outline: none;
    padding: 8px 28px 8px 15px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    border: solid 1px #d7d9dd;
}

.dropdown:after {
    content: '';
    top: 50%;
    border-top: solid 6px #848690;
    border-right: solid 6px transparent;
    border-left: solid 6px transparent;
    position: absolute;
    right: 18px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all .5s ease;
}

.dropdown .current {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 25px;
}

.dropdown .list {
    box-sizing: border-box;
    transition: all .15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity .1s linear;
    transform: scale(.75);
    transform-origin: 50% 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .09);
    background-color: var(--white);
    border-radius: 6px;
    margin-top: 4px;
    padding: 3px 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    width: 100%;
}

.dropdown .list ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: block;
}

.dropdown .option {
    cursor: default;
    font-weight: 400;
    line-height: 40px;
    font-size: 16px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
}

.dropdown .option:hover {
    background-color: #f6f6f6;
}

.dropdown .option.selected {
    font-weight: 600;
    background-color: #f6f6f6;
}

.dropdown.open:after {
    transform: translateY(-50%) rotate(-180deg);
}

.dropdown.open .list {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.dropdown.open .option {
    cursor: pointer;
}

/* Homepage CSS End */

/* default-banner-section  CSS Start */

.default-banner-section {
    background-color: var(--coffe-light);
    padding: 88px 0 81px;
    position: relative;
    z-index: 1;
}

.default-banner-row {
    text-align: center;
}

.default-banner-row h1 {
    color: var(--primary);
    margin: 0;
    position: relative;
    z-index: 1;
}

/* .default-banner-section::before,
.default-banner-section::after {
    content: "";
    position: absolute;
    background: url(../images/banner-svg.svg) no-repeat;
    width: 361px;
    height: 100%;
    top: 0;
    right: 0;
    background-size: cover;
    z-index: -1;
}

.default-banner-section::before {
    background-position: right center;
    left: 0;
} */

.default-banner-section::after {
    transform: rotate(-180deg);
    background-position: right center;
}

/* default-banner-section CSS End */

/* banner-section CSS Start */

.banner-section {
    padding: 70px 0 60px;
    background-color: rgba(245, 236, 214, 0.47);
    position: relative;
    overflow: hidden;
}

.banner-section::before,
.banner-section::after {
    content: "";
    position: absolute;
}

.banner-section::before {
    left: 0;
    top: 0;
    background: url(../images/Sphere.png) no-repeat;
    width: 105px;
    height: 210px;
}

.banner-section::after {
    right: 35px;
    top: 0;
    background: url(../images/Sphere2.png) no-repeat;
    width: 295px;
    height: 311px;
}

.banner-row {
    display: flex;
    align-items: center;
}

.banner-info {
    width: calc(50% + 100px);
}

.banner-image {
    width: 50%;
    position: relative;
}

.banner-image::after {
    content: "";
    position: absolute;
    background: url(../images/Sphere3.png) no-repeat;
    width: 150px;
    height: 150px;
    top: 50%;
    right: -150px;
    transform: translateY(-50%);
}

.banner-info>span {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Akkurat Cointreau';
}

.banner-info h1 {
    font-size: 72px;
    font-family: 'Archer', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--secondary);
    margin: 0;
    line-height: 1.11;
    margin: 18px 0 0;
}

.banner-info h1 span {
    color: var(--primary);
}

.banner-info p {
    margin: 22px 0 48px;
    max-width: 521px;
    font-size: 20px;
    line-height: 1.45;
    font-family: 'Akkurat Cointreau', sans-serif;
    font-weight: 400;
}

.banner-info .button {
    font-family: 'Gotham Narrow', sans-serif;
    background-image: linear-gradient(to bottom, #c22e38, #b6262f, #a91e26, #9d161d, #910c15);
    background-size: 100% 300%;
    line-height: 1.33;
    transition: all 250ms;
    padding: 10px 30px;
}

.banner-info .button:hover {
    background-position: 0 100%;
    transition: all .4s ease-in-out;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}

/* banner-section CSS End */

/* Restaurantes CSS End */

.Restaurantes-section {
    background-color: var(--primary);
    padding: 83px 50px 100px;
    position: relative;
    z-index: 1;
}

.Restaurantes-section::after,
.Restaurantes-section::before {
    content: "";
    position: absolute;
    background-size: cover;
    z-index: -1;
}

/* .Restaurantes-section::after {
    right: 0;
    top: 0;
    background: url(../images/Restaurante.svg) no-repeat;
    width: 297px;
    height: 297px;
    background-position: right center;
}

.Restaurantes-section::before {
    left: 0;
    bottom: 0;
    background: url(../images//Restaurante-left.svg) no-repeat;
    width: 134px;
    height: 134px;
    background-position: left center;
} */

.Restaurantes-section h2 {
    text-align: center;
    color: var(--white);
    margin: 0 0 67px;
}

.Restaurantes-row {
    text-align: center;
}

.Restaurantes-row nav.owl-filter-bar .button.btn-outline {
    color: var(--white);
    border: 1px solid var(--white);
    font-family: 'Gotham Narrow Book', sans-serif;
}

.Restaurantes-row nav.owl-filter-bar .button.btn-outline.active,
.Restaurantes-row nav.owl-filter-bar .button.btn-outline:hover {
    color: var(--secondary);
    background-color: var(--white);
}

.Restaurantes-row nav.owl-filter-bar a {
    margin: 0 20px;
}

.Restaurantes-row nav.owl-filter-bar a:first-child {
    margin-left: 0;
}

.Restaurantes-row nav.owl-filter-bar a:last-child {
    margin-right: 0;
}

.Restaurantes-images {
    color: var(--alternate);
    background-color: var(--white);
    text-transform: capitalize;
    padding: 5px;
    border-radius: 5px;
}


.Restaurantes-images figure {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.Restaurantes-images figure img {
    transition: transform .3s;
    width: 100%;
}

.Restaurantes-images:hover figure img {
    transform: scale(1.05);
}

.Restaurantes-images h4 {
    color: var(--alternate);
    background-color: var(--white);
    text-align: start;
    margin: 0;
    padding: 22px 20px 16px;
}

.Restaurantes-row nav.owl-filter-bar {
    margin-bottom: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Restaurantes-row .owl-nav button span {
    display: none;
}

.Restaurantes-row button.owl-prev,
.Restaurantes-row button.owl-next {
    position: absolute;
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 350ms;
    -webkit-transition: all 350ms;
    -moz-transition: all 350ms;
    -ms-transition: all 350ms;
    -o-transition: all 350ms;
}

.Restaurantes-row button.owl-prev::before {
    content: "\e90a";
}

.Restaurantes-row button.owl-next::after {
    content: "\e90a";
}

.Restaurantes-row .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 0;
    transform: translateY(-50%);
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Restaurantes-row .owl-nav button.owl-prev {
    left: -50px;
    transform: rotate(-180deg);
}

.Restaurantes-row .owl-nav button.owl-next {
    right: -50px;
}

.owl-dots {
    display: none;
}

.Restaurantes-row button.owl-next:hover:after,
.Restaurantes-row button.owl-prev:hover:before {
    color: var(--black);
}

.Restaurantes-row button.owl-next:after,
.Restaurantes-row button.owl-prev:before {
    transition: all 350ms;
}

/* Restaurantes-section CSS End */

/* about-section CSS End */

.about-section {
    padding: 89px 0 100px;
    position: relative;
    z-index: 1;
}

.about-section::before {
    content: "";
    position: absolute;
    background: url(../images/about-bg.png) no-repeat;
    background-size: cover;
    background-position: center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
}

.about-row {
    text-align: center;
    font-size: 18px;
    color: var(--dark);
}

.about-row h2 {
    color: var(--secondary);
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
}

.about-row p {
    max-width: 1136px;
    line-height: 1.33;
    margin: 26px auto 52px;
}

.about-row figure {
    overflow: hidden;
    border-radius: 10px;
    max-width: 1155px;
    margin: 0 auto;
}

.about-row figure img {
    width: 100%;
    display: block;
}

/* about-section CSS End */


/* manage-section CSS Strat */
.manage-section {
    display: flex;
    overflow: hidden;
    background-color: var(--coffe-light);
    padding: 100px 0;
}

.manage-left {
    width: 50%;
}

.manage-image {
    width: 50%;
}

.manage-image figure {
    margin-right: -250px;
}

.manage-info {
    max-width: 752px;
    margin-left: auto;
    width: 100%;
    padding-left: 30px;
}

.manage-title {
    max-width: 600px;
}

.manage-title h2 {
    font-weight: 400;
    color: var(--secondary);
}

.manage-title h2 span {
    color: var(--primary);
}

.manage-title p {
    font-size: 18px;
    margin: 10px 0 67px;
}


.manage-title ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.manage-title ul li {
    width: 45%;
    margin-bottom: 78px;
    margin-right: 20px;

}

.manage-title ul li:last-child {
    margin-bottom: 0;
}

.manage-title ul li i {
    font-size: 44px;
    color: var(--primary);
}

.manage-title ul li h4 {
    text-transform: capitalize;
    margin: 20px 0 14px;
    color: var(--secondary);
}

.manage-title ul li p {
    margin: 0;
}

/* manage-section CSS End */

/* help-section CSS Start*/
.help-section {
    padding: 65px 0 0;
    overflow: hidden;
}

.help-row .cols {
    align-items: flex-end;
    margin: 0 -75px;
}

.help-row .col {
    padding: 0 75px;
}

.help-info {
    padding-bottom: 87px;
}

.help-info h2 {
    color: var(--secondary);
    font-weight: 400;
    margin: 0;
}

.help-info h2 span {
    color: var(--primary);
}

.help-info p {
    font-size: 18px;
    margin: 23px 0 46px;
}


.help-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    counter-reset: my-sec-counter;
}

.help-info ul li {
    margin-bottom: 31px;
    padding-left: 50px;
    position: relative;
}

.help-info ul li::before {
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter) "";
    position: absolute;
    color: var(--primary);
    font-size: 18px;
    top: -4px;
    left: 0;
    width: 32px;
    height: 32px;
    border: 2px solid var(--primary);
    border-radius: 50%;
    line-height: 28px;
    text-align: center;
}

.help-info ul li:last-child {
    margin-bottom: 0;
}

.help-info ul li p {
    margin: 17px 0 0;
}

.help-info ul li h4 {
    margin: 0;
    color: var(--secondary);
}

/* help-section CSS End */


/* brands-section CSS Start*/

.brands-section {
    padding: 61px 0;
    background-color: var(--coffe-light);
}

/* .brands-section ul {
    padding: 0;
    margin: 0 -10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.brands-section ul li {
    max-width: 16.66%;
    padding: 0 10px;
}

.brands-section ul li figure {
    max-width: 180px;
}

.brands-section ul li figure img {
    opacity: 0.50;
    transition: all 350ms;
}

.brands-section ul li.active figure img,
.brands-section ul li figure:hover img {
    opacity: 1;
} */

.logo-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 76px;
    align-items: center;
}

.logo-box img {
    width: 100%;
    transition: all 350ms ease-in-out;
    opacity: 0.50;
    cursor: pointer;
}

.logo-box img:hover {
    opacity: 1;
}


/* brands-section CSS End*/


/* contact--form-section CSS Start*/

.contact-section {
    padding: 67px 20px 45px;
    text-align: center;
    max-width: 1205px;
    margin: 0 auto;
}

.contact-title {
    max-width: 621px;
    margin: 0 auto;
}

.contact-title h3 {
    font-family: 'Akkurat Cointreau', sans-serif;
    font-weight: 700;
    color: var(--secondary);
    margin: 0 0 9px;
}

.contact-title p {
    margin: 0 0 44px;
    font-size: 18px;
    line-height: 1.33;
}

.contact-section form {
    border-top: 1px solid var(--gray);
    padding: 20px 0 0;
}

.contact-section .form-group {
    position: relative;
    text-align: left;
}

.form-icon {
    position: absolute;
    top: 70px;
    left: 18px;
    color: var(--secondary);
    font-size: 22px;
}

.contact-section .form-block .details-block .cols {
    margin: 0 -10px;
}

.contact-section .form-block .details-block .col {
    padding: 0 10px;
}

.form-button {
    text-align: center;
}

.form-button .button {
    padding: 13px 106px;
    text-transform: capitalize;
}

.fbtn {
    padding-bottom: 0;
}

.contact-section input:focus~i {
    opacity: 0.5;
    transition: all 350ms;
}

.contact-section .form-block .details-block textarea {
    padding: 19px 21px;
}

/* contact--form-section CSS End*/

/* Content page CSS */
.page-content {
    padding: 80px 0;
}
.page-content .wrap > div {
    margin-bottom: 20px;
}
.page-content h3 {
    font-size: 40px;
}
.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6 {
    color: var(--secondary);
}
.page-content h1 span, .page-content h2 span, .page-content h3 span, .page-content h4 span, .page-content h5 span, .page-content h6 span {
    font-family: 'Archer', sans-serif !important;
}